CLEARML_API_ACCESS_KEY=# Get this from http://localhost:8080/settings/workspace-configuration
CLEARML_API_SECRET_KEY=# Get this from http://localhost:8080/settings/workspace-configuration
CLEARML_HOST_IP=localhost
CLEARML_API_HOST=http://localhost:8008
CLEARML_WEB_HOST=http://localhost:8080
CLEARML_FILES_HOST=http://localhost:8081
CLEARML_AGENT_GIT_USER= # Optional: Git user for private repositories
CLEARML_AGENT_GIT_PASS= # Optional: Git password or token for private repositories
CLEARML_AGENT_ACCESS_KEY= # Optional: Agent access key
CLEARML_AGENT_SECRET_KEY= # Optional: Agent secret key